.about {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-text {
    width: 100%;
    height: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about__accord {
    width: 80%;
    height: 36em;
    text-align: center;
}

.accord-item {
    padding: 0.4em;
    & .accord-item__trigger {
        font-family: 'Barrio';
        font-size: 2em;
        cursor: pointer;
    }
}

.accord-item--active .accord-item__content {
    max-height: 10em;
    font-size: 1.2em;
    transition: 2s; 
    margin: 0.5em auto 0.3em;;
}

.accord-item__content {
    font-family: 'Comfortaa';
    transition: .5s;
    margin: 0.5em auto 0.3em;;
    max-height: 0;
    font-size: 1.2em;
    overflow: hidden;
}

.about__images {
    position: relative;
    width: 100%;
    height: 50vh;
}

.about__image {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(0, -50%);
    width: 322px;
    height: 322px;
    transition: 0.5s;
}

.about__image--active {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

@media (min-width:$tablet) {
    .about-text {
        width: 100%;
        align-items: center;
    }
    .accord-item__content {
        width: 80%;
        margin-left: auto;
    }
}

@media (min-width:$tabletM) {
    .about {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }

    .about__accord {
        text-align: left;
        padding-top: 10em;
        height: 50em;
    }

    .about-text {
        width: 50%;
        height: 100vh;
    }

    .about__images { 
        width: 50%;
        height: 100vh;
    }

    .about__image {
        width: 20em;
        height: 20em;
    }
}

@media (min-width:$tabletM) {
    .about__image {
        width: 25em;
        height: 25em;
    }
}

@media (min-width:$laptop) {
    .about__accord {
        height: 70em;
    }
}

@media (min-width:$desktop1) {

    .accord-item .accord-item__trigger {
        font-size: 3em;
    }

    .accord-item--active .accord-item__content {
        font-size: 2em;
    }
    
    .accord-item__content {
        font-size: 2em;
    }

    .about__image {
        width: 35em;
        height: 35em;
    }
}

@media (min-width:$desktop3) {
    .about__image {
        width: 50em;
        height: 50em;
    }

    .accord-item .accord-item__trigger {
        font-size: 4em;
    }

    .accord-item--active .accord-item__content {
        font-size: 2.5em;
    }
    
    .accord-item__content {
        font-size: 2.5em;
    }
}
