.contacts {
    height: 100vh;
    width: 100%;
    background-color: $bgContact;
    overflow: hidden;
    top: 10em;
}

.contacts__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & p {
        font-family: 'Comfortaa';
        font-size: x-large;
    }
}

.contacts__header { 
    font-family: 'Barrio';
    font-size: xxx-large;   
}

.contacts__img--lion {
    position: absolute;
    width: 17em;
    border-radius: 50%;
    inset: 26em 0 0 95em;
}

.contacts__img--coroc {
    position: absolute;
    width: 17em;
    border-radius: 50%;
    inset: 28em -2em;
    transform: rotate(343deg);
}
