.contacts {
    height: 100vh;
    width: 100%;
    background-color: $bgContact;
    overflow: hidden;
}

.contacts__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & p {
        font-family: 'Comfortaa';
        font-size: x-large;
        margin: 0.4em;
    }
}

.contacts__text {
    height: 50vh;
}

.contacts__header { 
    font-family: 'Barrio';
    font-size: 3em;   
}

.contacts__img--lion {
    position: absolute;
    width: 17em;
    border-radius: 50%;
    display: none;
}

.contacts__img--coroc {
    position: absolute;
    width: 17em;
    border-radius: 50%;
    inset: 28em -2em;
    transform: rotate(343deg);
}

.contacts__autor {
    position: absolute;
    bottom: 0;
    padding: 0 0 1em 1em;
    font-family: 'Comfortaa';
    font-size: small;
    & a {
        color: $bgContact;
    }
}

@media (min-width: $tablet) {
    .contacts__text {
        height: 30vh;
    }
    .contacts__img--lion {
        display: block;
        inset: 26em 0 0 70vw;
    }
    .contacts__autor {
        & a {
            color: black;
        }
    }
}

@media (min-width: $laptop) {
    .contacts__text {
        height: 30vh;
    }
}

@media (min-width: $desktop3) {
    .contacts__header {
        font-size: 5em; 
    }

    .contacts__container {
        & p {
            font-size: 2em;
        }
    }
}
