.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $bgGallery;
    top: 10em;
    overflow: hidden;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding-top: 10em;
}

.gallery__section {
    max-height: 50vh;
    & .s10 {
        max-height: 100vh;
    }
}

.gallery__section.s10 {
        max-height: 110vh;
}


.gallery__image {
    width: 40vw;
}

.l {
    margin: 0 8vw -5vw;
    z-index: 3;
}

.r {
    margin: 4vw 0 0 45.5vw;
    z-index: 2;
}

@media (min-width: 425px) { 
    .gallery__section {
        max-height: 85vh;
    }
}

@media (min-width: $tablet) { 
    .gallery__image {
        width: 30vw;
    }
}

@media (min-width: $laptop) { 
    .gallery { 
        position: relative;
        flex-direction: row;    
    }

    .gallery__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 880vw;
        padding: 0 0 0 30vw;
        height: 100dvh;
        max-height: 100dvh;

    }

    .gallery__section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 100dvh;
        max-height: 100dvh;
    }

    .gallery__image {
        height: auto;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        -webkit-transform: none;
        transform: none;
        margin: 0 1em;
        width: 20vw;
    }

    section.gallery {
        height: 100dvh;
        max-height: 100dvh;
    }
}

