.home {
    inset: 0 0 0 0;
    overflow: hidden;
}

.home__text {
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.home__text span{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-family: 'Barrio';
    opacity: 0;
}

.home__text span.home__main_text{
    z-index: 50;
}


span.copy {
    /*text-shadow: -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000;*/
    font-size: 20vw;
    position: absolute;
    line-height: 1;
    height: 20vw;
}

.copy-1 {
    transform: perspective(500px) translate3d(0, 0, -15px);
    color: #f24c00;
    z-index: 40;
}

.copy-2 {
    transform: perspective(500px) translate3d(0, 0, -30px);
    color: #73c196;
    z-index: 30;
}

.copy-3 {
    transform: perspective(500px) translate3d(0, 0, -45px);
    color: #fc7a1e;
    z-index: 20;
}

.copy-4 {
    transform: perspective(500px) translate3d(0, 0, -60px);
    color: #eda96d;
    z-index: 10;
}

.home__kangooroo {
    position: absolute;
    top: 42%;
    left: -20%;
    transform: translate(-20%, -42%) rotate(-15deg);
    z-index: 100;
    & img {
        width: 18vw;  
    }

}

.home__lion {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -60%);
    z-index: 2;
    & img {
        width: 30vw;
        
    }
}

.home__dino {
    position: absolute;
    top: 200%;
    left: 45%;
    transform: translate(-45%, -70%) rotate(-20deg);
    
    & img {
        width: 30vw;
    }
}