$primalText: rgb(0, 0, 0);
$subText: #02422A;

$bgMain: #FBF7EA;
$bgGallery: #3E3E3E;
$bgContact: #73C196;

$mobile: 320px;
$tablet: 768px;
$tabletM: 960px;
$laptop: 1024px;
$laptopM: 1280px;
$desktop1: 1440px;
$desktop2: 1920px;
$desktop3: 2560px;
